<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!-- WEBSITE NAME HERE --></title> <!-- Change here -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="grid-background"></div>
<div class="container">
    <h1 class="title">Paste Your Link</h1>
    <form action="/shorten" method="post" class="shorten-form">
        <input type="url" name="longUrl" placeholder="Enter your long URL here..." required>
        <button type="submit" class="btn">Shorten</button>
    </form>
</div>
</body>
</html>
